@import url(../components/layout.less);
#about{
    margin-top: 1rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    div{
        display: inline-block;
    }
    .personal-image{
        div{
            background: #3700B3;
        }
        img{
            opacity: .1;
            filter: grayscale(100%);
        }
    }
    .personal-info{
        color: @secondary_text;
        margin-top: 20px;
        margin-bottom: 20px;
        z-index: 10;
        padding: 1rem;
        border-radius: 5px;
    }
}

#work{
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    padding: 3rem;
    color: white;
}

#contact{
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    text-align: center;
    div{
        margin-bottom: 1rem;
    }

    .form-name,.form-email,.form-message,.form-submit{
        input{
            width: 100%;
            display: inline-block;
        }
        textarea{
            width: 100%;
            display: inline-block;   
        }
        button{
            width: 100%;
            display: inline-block;
        }
    }
}