nav{
    display: flex !important;
    width: 100%;
    position: absolute;
    align-items: center;
    z-index: 25;
    padding: 2rem;

    .header-logo{
        flex-grow: 1;
        div{
            margin-bottom: 0 !important;
        }
        img{
            width: 50px;
        }
    }

    .header-links{
        a{
            margin: 0 5px;
            display: inline-block;
            color: white !important;
            text-decoration: none;
        }     
    }
}