@primary_background: #1b1c27;
@secondary_background: #282932;
@primary_text: #f3f3f3;
@primary_active: #3700B3;
@primary_link: #3568d4;
@secondary_text: #9fa1a3;
@secondary_active: #03DAC6;
@secondary_variant: #BB86FC;

body{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    background: @primary_background;
}
html {
    scroll-behavior: smooth;
  }

.header-section{
    position: relative;
    margin-bottom: 10rem;
    .main-header-content{
        display: flex;
        padding-top: 7rem;
    }

    canvas{
        text-align: center;
    }
    .canvas-split{
        width: 50%;
        display: inline-block;
    }
    .header-text{
        margin-top: 20px;
        margin-left: -14rem;
        h1{
            color: @primary_text;
            font-size: 8rem;
    
        }
        h3{
            z-index: 10;
            color: @secondary_active;
        }
    }
}
